* {
    margin: 0;
    padding: 0;
}

body {
    background: #2cd130 url("files/bg.jpg") no-repeat center top;
    color: #333;
    font-family: 'Arial',sans-serif;
    font-size:16px;
}

#wrapper {
    margin: 60px auto;
    width: 800px;
}

#header {
    box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.5);
    background: rgba(0,0,0,0.4);
}

#header h1 {
    padding-left: 30px;
    padding-top: 30px;
    letter-spacing: -1px;
    color: #fff;
    text-shadow: 0px 2px 0px #000;
}
#header h2 {
    color:#ccc;
    font-style: italic;
    padding-left: 30px;
    padding-bottom: 30px;
    font-size:22px;
    font-weight: normal;
    font-family: "Georgia",serif;
}
#content {
    background: #f4f4f4;
    
}

#loginStrip {
    background: #f4f4f4;
    padding: 1em 0.5em;
    text-align: right;
}
.post {
    border-bottom: 1px solid #ddd;
    padding: 1em;
    transition: 300ms ease all;
}
.post:hover {
    background: #fff;
    box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.3);
}
.timestamp {
    color:#888;
}
.post h2 a {
    transition:600ms ease all;
    text-decoration: none;
    color:#053a16;
}
.post h2 a:hover {
    color:#069927;
}
.post h2 {
    font-size:28px;
    font-weight: bold;
    letter-spacing: -1px;
    color:#000;    
}
.post .entry {
    font-size:16px;
    line-height: 1.4em;
    margin-top: 1em;
}
.single_post {
    background: #fff !important;
}

#comment_wrap {
    padding: 1em;
}

.comment {
    padding: 1em;
    background: #c7d7e7;
    margin-bottom: 1px;
}
.cmt_author {
    font-weight: bold;
    color:#1a5ca6;
}

.cmt_time {
    font-size: 0.8em;
    font-style: italic;
    color:#777;
}
.cmt_text {
    padding-top: 1em;
}
h2.cmt_count {
    font-weight: normal;
    margin-bottom: 0.67em;
}
#cmt_form {
    margin-top: 2em;
}
#cmt_form input,#cmt_form textarea {
    display: block;
    padding: 0.3em;
    font-size:14px;
    border: 2px solid #999;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    font-family: "Arial",sans-serif;
    margin-bottom: 1em;
}
#cmt_form input:focus,#cmt_form textarea:focus {
    border-color: #0c3;
}
#cmt_form textarea {
    height: 120px;
}
#cmt_form button {
    display: inline-block;
    float: right;
    padding: 0.67em 1em;
    font-weight: bold;
    text-align: center;
    background: #007700;
    color:#fff;
    border: none;
    cursor: pointer;
}

.clear {clear: both}
a {
    text-decoration: none;
}